* {
    font-family: sans-serif;
}

#feedback {
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.progress-fill {
    height: 100%;
    background-color: #FCA82F;
    border-radius: 5px;
    transition: width 0.4s;
}

.timer-container {
    position: relative;
    width: 220px;
    height: 220px;
}

.timer-circle {
    width: 100%;
    height: 100%;
}

.timer-background {
    stroke: #6066D0;
    stroke-width: 10;
}

.timer-path {
    stroke: #FCA82F;
    stroke-width: 5;
    stroke-dasharray: 660;
    stroke-dashoffset: 660;
}

.timer-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
}

.option-label {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px 0;
    border: 2px solid #ddd;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.option-label:hover {
    background-color: #f5f5f5;
}

.option-label input[type="radio"] {
    display: none;
}

.option-label input[type="radio"]:checked ~ .option-text {
    background-color: transparent;  
    border-color: transparent;  
}

.option-label input[type="radio"]:checked + .option-text {
    border-color: transparent;  
}

.option-label input[type="radio"]:checked {
    background-color: transparent;  
}

.option-label:has(input[type="radio"]:checked) {
    border-color: black;  
}

.option-label {
    border: 2px solid #ddd; /* Standardfarbe (Grau) */

}

.drawing-area {
    margin-top: 20px;
}

.canvas-container {
    position: relative;
    width: 100%;
}

#gridCanvas, #drawingCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make canvas fill the width of its container */
    height: auto; /* Adjust height to maintain aspect ratio */
}

#gridCanvas {
    background-color: #fff;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
    background-size: 25px 25px;
    z-index: 1; /* Grid should be below the drawing canvas */
}

#drawingCanvas {
    z-index: 2; /* Drawing on top */
    background-color: transparent; /* Make the background transparent */
}
















